body{
    background-color: rgba(27, 32, 33, 1);
    color: rgba(127, 178, 133, 1);
    text-align: center;
}

h1{
    font-family: 'Patua One', cursive;
    font-size: 85px;
}

#info-main{
    font-family: 'Annie Use Your Telescope', cursive;
  font-size: 30px;
  color: rgba(234, 239, 211, 1) !important;
}

#info{
    font-family: 'Pompiere', cursive;
    font-size: 25px;
    color: rgba(220, 196, 142, 1) !important; 
}

p{
    font-family: 'Concert One', cursive;
    font-size: 20px;
    
}

span{
    color: rgba(220, 196, 142, 1) !important;
}
